* {margin: 0; padding: 0; box-sizing: border-box;}
.App {text-align: center;}

.wrap {margin: 20px; padding: 20px; border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.113);}
.map {width: 100%; height: 500px; border: 1px solid #ddd; border-radius: 4px;}
.btn-area {display: flex; justify-content: center; margin-top: 30px;}
.btn-area .btn-w + .btn-w {margin-left: 12px;}
.btn-area .btn-w .txt {margin-top: 4px; text-align: center; font-size: 14px;}
.btn-toggle {display: flex; justify-content: center; align-items: center;width: 60px; height: 60px; border: 0; cursor: pointer; background: #fff; border-radius: 50%;}
.btn-toggle.hide {opacity: .4;}
.btn-toggle img {width: 100%; height: 100%;}

.icon-container {
  position: absolute;
  overflow: hidden;
  box-sizing: content-box;
  cursor: inherit;
  width: 24px; /* div 크기 */
  height: 24px; /* div 크기 */
}

.icon-container img {
  width: 24px; /* 이미지 크기 설정 */
  height: 24px; /* 이미지 크기 설정 */
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover; /* 이미지가 div 크기에 맞게 조정되도록 함 */
}
